extends login-layout
block login-content
  h1.text-2xl.mb-6 Welcome to Tailor
  .mb-6 
    img(src=user.picture alt='').size-24.mx-auto.mb-6.rounded-full
    h2.text-lg #{user.name}
    span.text-slate-600 #{user.email}
  p You have been successfully logged in.
  +icon-container
    +icon('forward', 'Continue', continueHref)
    +icon('power', 'Logout', logoutHref)